.navbar {
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  /* need some transformation here */
}

.navigation button {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px;
}

.navigation:hover {
  /* need some transformation */
}
